click==6.7
dateparser==0.7.0
Flask==1.0.2
humanize==0.5.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
maya==0.5.0
pendulum==1.5.1
pymongo==3.7.1
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5
regex==2018.8.29
six==1.11.0
snaptime==0.2.4
tzlocal==1.5.1
Werkzeug==0.14.1
