<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
			data-slide-speed="200" style="padding-top: 20px">
			<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<li class="sidebar-toggler-wrapper hide">
				<div class="sidebar-toggler">
					<span></span>
				</div>
			</li>
			<!-- END SIDEBAR TOGGLER BUTTON -->
			<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
			{% set u = g.user %}
			{% if u %}

				<li class="nav-item start">
					<a href="javascript:" class="nav-link nav-toggle">
						<i class="icon-graduation"></i>
						<span class="title">权限管理</span>
						<span class="arrow"></span>
					</a>
					{% if not u.is_admin() %}
						<ul class="sub-menu">
							<li class="nav-item ">
								<a href="#" class="nav-link ">
									<i class="icon-list"></i>
									<span class="title">我的权限</span>
								</a>
							</li>
							<li class="nav-item ">
								<a href="#" class="nav-link ">
									<i class="icon-plus"></i>
									<span class="title">权限申请</span>
								</a>
							</li>
						</ul>
					{% else %}
						<ul class="sub-menu">
							<li class="nav-item ">
								<a href="#" class="nav-link ">
									<i class="icon-list"></i>
									<span class="title">我的权限</span>
								</a>
							</li>
							<li class="nav-item ">
								<a href="#" class="nav-link ">
									<i class="icon-check"></i>
									<span class="title">待批准权限</span>

								</a>
							</li>
						</ul>
					{% endif %}
				</li>
				<li class="nav-item start">
					<a href="javascript:" class="nav-link nav-toggle">
						<i class="icon-graduation"></i>
						<span class="title">规程操作</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item ">
							<a href="#" class="nav-link ">
								<i class="icon-control-play"></i>
								<span class="title">启动流程</span>
							</a>
						</li>
						<li class="nav-item ">
							<a href="#" class="nav-link ">
								<i class="icon-note"></i>
								<span class="title">参数批注</span>

							</a>
						</li>
						<li class="nav-item ">
							<a href="#" class="nav-link ">
								<i class="icon-note"></i>
								<span class="title">规程统计</span>

							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item start">
					<a href="javascript:" class="nav-link nav-toggle">
						<i class="icon-graduation"></i>
						<span class="title">分系统信息</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item ">
							<a href="{{ url_for('sub_system.sub_system_list_page') }}" class="nav-link ">
								<i class="icon-list"></i>
								<span class="title">分系统列表</span>
							</a>
						</li>
					</ul>
				</li>
			{% endif %}
		</ul>
		<!-- END SIDEBAR MENU -->
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
