<div class="row step-line">
	<div class="mt-step-desc">
		<div class="font-dark bold uppercase">4 Steps Line</div>
		<div class="caption-desc font-grey-cascade"> 4 Steps Numbered Line element style. Activate by adding
			<pre class="mt-code">.step-line</pre>
			class to the
			<pre class="mt-code">.row</pre>
			element.
			<pre class="mt-code">.first</pre>
			and
			<pre class="mt-code">.last</pre>
			classes are required to be added into
			<pre class="mt-code">.mt-step-col</pre>
			to indicate the first and last step.
		</div>
		<br></div>
	<div class="col-md-3 mt-step-col first done">
		<div class="mt-step-number bg-white">1</div>
		<div class="mt-step-title uppercase font-grey-cascade">Setup</div>
		<div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
	</div>
	<div class="col-md-3 mt-step-col done">
		<div class="mt-step-number bg-white">2</div>
		<div class="mt-step-title uppercase font-grey-cascade">Develop</div>
		<div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
	</div>
	<div class="col-md-3 mt-step-col active">
		<div class="mt-step-number bg-white">3</div>
		<div class="mt-step-title uppercase font-grey-cascade">Testing</div>
		<div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
	</div>
	<div class="col-md-3 mt-step-col last">
		<div class="mt-step-number bg-white">4</div>
		<div class="mt-step-title uppercase font-grey-cascade">Launch</div>
		<div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
	</div>
</div>